{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block body %}
    {% if entries %}
        {{ entries|safe }}
        <br>
        <form action="{% url 'edit' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="name" value="{{ name }}">
            <button type="submit">edit this page</button>
        </form>
    {% else %}
        <h1>{{ name }}</h1>
        <p>No content for this topic</p>
    {% endif %}
{% endblock %}