{% extends "encyclopedia/layout.html" %}

{% block title %}
    new page
{% endblock %}

{% block body %}

    <form action="{% url 'newpage' %}" method="post" class="form-group col-md-6">
        <!--<label for="title">Title:</label>
        <input type="text" id="title" name="title" class="form-group col-md-4"><br>
        <label for="content" >Content:</label>
        <textarea type="text" id="content" name="content" 
            class="form-control" rows="6"></textarea>-->
        {% csrf_token %}
        {{ Newpage|safe }}
        <br>

        <br>
        <input type="submit">
    </form>
{% endblock %}